@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab:700');
$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Roboto Slab', serif;

$color-background: #e5f3f2;
$color-primary-blue: #00a79d;
$color-hover-green: #045e55;
$color-text-dark-gray: #6d6e71;
$color-body-gray: #939598;
$color-border-gray: #d1d3d4;
$color-white: #fff;

@mixin inputMixin {
  display: block;
  font-size: 1.125rem;
  margin: 1rem auto;
  padding: 0.5rem;
  width: 20rem;
  border: 2px solid $color-border-gray;

  &[placeholder] {
    font-family: $primary-font;
  }

  @media screen and (max-width: 480px) {
    width: 15rem;
  }
}
